<p>Hey {{ name }},</p>
<p>Please click below to reset your password</p>
<p>
    <a href="{{ url }}" style="display:block">reset password</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>